*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navBar{
  padding: 1em .5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(#1c1c1c,#4c4c4c);
  color: aliceblue;
}

.navBar h1{
  text-transform: capitalize;
}

.navBar ul{
  display: flex;
  align-items: center;
  list-style: none;
}

.navBar ul li{
  margin-inline: 1rem;
  font-size: 1.25rem;
  text-transform: capitalize;
}

.navBar ul li:hover{
  text-decoration: underline;
  cursor: pointer;
}